/* Global styles */
body {
    background-color: #1b1e18;
    font-family: Arial, Helvetica, sans-serif;
    color: #DDA0DD;
    margin: 0;
    padding: 0;
}

/* Styles for centering elements */
.center-image, .welcome_message {
    text-align: center;
    margin-top: 5px;
}

.welcome_message {
    margin-bottom: 50px;
}

/* CSS for centering the table */
.business-hours {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for the table */
.business-hours table {
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    color: #Fffdfa;
}

/* Style for table headers (th) */
.business-hours th {
    background-color: #2f332d;
    color: #Fffdfa;
    padding: 10px;
}

/* Style for table data cells (td) */
.business-hours td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Styles for the bottom navigation bar */
.botnav {
    background-color: #2f332d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.botnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}

.botnav ul li {
    display: inline-block;
    margin: 0 10px;
}

.botnav ul li a {
    color: #DCC6E0;
    text-decoration: none;
}

/* Styles for the bouquets message */
.bouquets_message {
    margin-top: 100px;
    text-align: center;
    color: white;
}

/* Styles for the top navigation bar */
.topnav {
    background-color: #2f332d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.topnav a {
    color: #DCC6E0;
    text-decoration: none;
}

.topnav .left {
    flex-grow: 1;
    margin-left: 20px;
}

.topnav .right {
    text-align: center;
    margin-right: 20px;
}

.topnav .right ul li {
    display: inline-block;
    margin-left: 20px;
}

/* Styles for the image list */
.image-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-list li {
    text-align: center;
    margin: 0;
    padding: 0;
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 20px;
}

.image-list img {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.image-list p.caption {
    font-size: 18px;
    margin-top: 10px;
    color: #Fffdfa;
}
